@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');


*{

    margin: 0;
    padding: 0;
}
:root{
    --cor01:hsl(233, 47%, 7%);
    --cor02:hsl(244, 38%, 16%);
    --cor03:hsl(277, 64%, 61%);
    --cor04:hsl(0, 0%, 100%);
    --cor05:hsla(0, 0%, 100%, 0.75);
    --cor06:hsla(0, 0%, 100%, 0.6);
    --font01:'Outfit', sans-serif;;
   
}

body{
    
    font-family: var(--font01);
    background-color: var(--cor01);
   
}
.container{
   width: 1080px;
   height: 400px;
   margin: auto;
   margin-top: 90px;
   background-color: var(--cor02);
   border-radius: 10px;
   
}
.container>img{
    width: 50%;
    height: 100%;
    float: right;
   
}
.text{
    width: 450px;
    height: 240px;
    padding: 50px 50px 0px 50px;
}
.text> h1 {
    color: var(--cor04);
    font-size: 2.5em; 
    margin-bottom: 20px;
}
.text> h1 > a {
    color: var(--cor03);
    text-decoration: none;
}
.text-parágrafo{
    color: var(--cor04);
    width: 80%; 
}
.text2{

    width: 100%;
    color: var(--cor04);

   
}

.text2>div {
    display: inline-block;
    padding: 0px 5px 0px 35px;
    margin-left: 20px;
}

.text2 >div > h2{
    font-weight: bolder;
    font-size: 1.5em;
}



footer{
    bottom: 0;
    position: fixed;
    width: 80%;
    text-align: center;
    color: white;
}
footer > p > a {
    color: var(--cor05);
    text-decoration: none;
}


